* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Space Grotesk', sans-serif;
}

:root {
    --blueInputBorder: hsl(249, 99%, 64%);
    --violetInputBorder: hsl(278, 94%, 30%);
    --redInputErrors: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --lightGrayishViolet: hsl(270, 3%, 87%);
    --darkGrayishViolet: hsl(279, 6%, 55%);
    --veryDarkViolet: hsl(278, 68%, 11%);
    --purple:hsl(228, 45%, 44%);
}

body {
    height: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: inline-block;
    width: 100%;
    min-width: 100%;
    height: 230px;
    background-image: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.cardBack {
    display: inline-block;
    background-image: url(./images/bg-card-back.png);
    width: 275px;
    height: 150px;
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 30px;
    right: 5%;
}

.cardFront {
    display: inline-block;
    background-image: url(./images/bg-card-front.png);
    width: 275px;
    height: 150px;
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 115px;
    left: 5%;
}



main {
    width: 100%;
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form label {
    color: var(--veryDarkViolet);
    align-self: flex-start;
    margin-bottom: 10px;
}

form input {
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 20px;
    border: 1px solid var(--lightGrayishViolet);
    padding: 10px;
    color: var(--veryDarkViolet);
    border-radius: 5px;
}

form input:hover {
    border-color: var(--darkGrayishViolet);
}

form input:focus {
    background: linear-gradient(var(--white),var(--white)) padding-box,
    linear-gradient(90deg ,var(--blueInputBorder), var(--violetInputBorder)) border-box;
    border: 1px solid;
    border-color: transparent;
    outline-style: none;
    box-shadow: none;
}

::placeholder {
    color: var(--lightGrayishViolet);
}


.finalBlock {
    display: flex;
}

.finalBlock1 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.finalBlock2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.dateBlock {
    display: flex;
}

.dateBlock input {
    width: 50%;
    margin-right: 10px;
}


#confirmButton {
    font-size: 1.5rem;
    font-family: 'Space Grotesk', sans-serif;
    background-color:var(--veryDarkViolet);
    color: var(--white);
    padding: 10px;
    border: 2px solid var(--veryDarkViolet);
    border-radius: 5px;
}

#confirmButton:hover {
    background-color: var(--white);
    color: var(--veryDarkViolet);
    cursor: pointer;
}

.attribution { 
    font-size: 1.1rem; 
    text-align: center;
    margin-bottom:4px ;
}
.attribution a { 
    color: var(--purple);
}